In [1]:
# COMPARE TO THIS --- 9 _df's all day (see below)

# https://smu.bootcampcontent.com/SMU-Coding-Bootcamp/smu-dal-data-pt-09-2021-u-c/-/blob/master/02-Homework/04-Pandas/Instructions/HeroesOfPymoli/HeroesOfPymoli_starter.ipynb

In [2]:
#import dependencies
import pandas as pd
import os
os.getcwd()

# This link is for formatting tips for professional looking work

# https://gtribello.github.io/mathNET/assets/notebook-writing.html

# Consider the concept of building a final summary _df for the lazy - will include combining _df's -> save for future?
# If you clean all the formatting now you dont have to do it later.

# use .head() <-- DONT FORGET

'C:\\Users\\Alec\\Documents\\Programming Resources\\Boot Camp\\Pandas & Jupyter Notebook\\pandas-challenge'

In [3]:
# designate filepath as variable - use variable for easy recall
infile_01 = ('resources\\purchase_data.csv')
purchase_data_df = pd.read_csv(infile_01)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#obtain columns to list before really diving in as best practice 

root_column_list = purchase_data_df.columns.values.tolist()
root_column_list

['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']

In [5]:
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [6]:
# Test for Null Values
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [7]:
NaN_test_df = purchase_data_df.dropna(how='any')
NaN_test_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [8]:
# MARKDOWN - player count
#Total number of players

# isolate unique value of SN series, double check w/print, move to dict for database creation
SN_list = purchase_data_df['SN'].unique()
unique_player_count = len(SN_list)
#print(unique_player_count)

unique_players = {
    'Total Players': [unique_player_count],
}

total_players_df = pd.DataFrame(unique_players)
total_players_df

   Total Players
0            576

In [9]:
# MARKDOWN - Purchasing Analysis (Total)
# Number of Unique Items
# Average Purchase Price
# Total Number of Purchases
# Total Revenue

### ------------------------Number of Unique Items------------------------

unique_itemID_list = purchase_data_df['Item ID'].unique()
unique_item_num = int(len(unique_itemID_list))
# ------------------------Average purchase price------------------------

sum_prices = purchase_data_df['Price'].sum()

num_purchases = purchase_data_df['Purchase ID'].count()

avg_purchase_price = sum_prices / num_purchases

# ------------------------Summary DataFrame------------------------

purchase_analysis = {
    'Number of Unique Items': [unique_item_num],
    'Average Price': [avg_purchase_price],
    'Number of Purchases': [num_purchases],
    'Total Revenue': [sum_prices],
}


purchase_analysis_df = pd.DataFrame(purchase_analysis)
purchase_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [10]:
# MARKDOWN - Gender Demographics
# % = round(variable/whole)*100 & then round
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other \ Non-Disclosed

# ------------------------ Gender Counts ------------------------
# obtain the info needed
user_demo = purchase_data_df.loc[:, ['Gender', 'SN', 'Age']]
# remove duplicates --> usinge .unique will not work for this because we don't want an array for calculations
user_demo = user_demo.drop_duplicates()
# build new df
user_demo_df = pd.DataFrame(user_demo)

# isolate series with info needed - doing it across the new df allows us to avoid having to obtain
# individual variables then perform math on those variables.
# the variable we need are already collected in a df
gender_counts = user_demo_df['Gender'].value_counts()

# calculate % by dividing individual by whole across whole df
gender_prcnt = gender_counts / unique_player_count * 100

# round now or later during format step
gender_prcnt = gender_prcnt.round(2)

# Build the Summary df
gender_demo_df = pd.DataFrame({
    'Totals': gender_counts,
    'Percentage of Players': gender_prcnt
})

gender_demo_df

                       Totals  Percentage of Players
Male                      484                  84.03
Female                     81                  14.06
Other / Non-Disclosed      11                   1.91

In [11]:
root_column_list

['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']

In [12]:
# MARKDOWN - Purchasing Analysis (Gender)

# The below each broken by gender

# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Gender

# Find out which gender spends more? indication of 
# behavior \ lack of patience \ desire for reward\gratification?

# --> .rename() following results to avoid error in which the entire result is dropped into
# data dict in a way that cannot be utilized by the program

# retrieve the information needed, assign to df for later use
gender_purchase_df = purchase_data_df.loc[:, ['Purchase ID', 'Gender', 'Price']]

# obtain the counts per gender by grouping the count of purchases per gender
gender_purchase_counts = gender_purchase_df.groupby(['Gender']).count()['Price'].rename('Purchase Count')

# obtain the sum of money spent per gender by grouping gender and using .sum() on price series
gender_purchase_total = gender_purchase_df.groupby(['Gender']).sum()['Price'].rename('Total Purchase Value')

# obtain the average grouping the price spent per gender and using the .mean() function
gender_avg = gender_purchase_df.groupby(['Gender']).mean()['Price'].rename('Average Purchase Price')

# isolate the total spent per gender (gender_purchase_total), divide by the number of each gender

gender_purchase_avg = gender_purchase_total / gender_counts

#value counts of gender / sum of spent by gender

# build the dataframe
gender_purchase_demo_df = pd.DataFrame({
    'Purchase Count': gender_purchase_counts,
    'Average Purchase Price': gender_avg,
    'Total Purchase Value': gender_purchase_total,
    'Avg Total Purchase per Person':gender_purchase_avg
})

In [13]:
gender_purchase_demo_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [14]:
# MARKDOWN - Age Demographics


# Estabilish the bins
age_bin = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9 ,39.9, 1000]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# add new category (Age Ranges) for existing players
purchase_data_df['Age Ranges'] = pd.cut(purchase_data_df['Age'], age_bin, labels=group_names)

# define the totals by taking the value count of each new age range
age_totals = purchase_data_df['Age Ranges'].value_counts()

# percent = total / whole * 100
age_percent = age_totals / unique_player_count *100

# round for cleaner look
age_percent = age_percent.round(2)

# build the dataframe
age_df = pd.DataFrame({
    'Total Count': age_totals,
    'Percentage of Players': age_percent,
})

# sort the index for readability
age_df = age_df.sort_index()

age_df

       Total Count  Percentage of Players
<10             23                   3.99
10-14           28                   4.86
15-19          136                  23.61
20-24          365                  63.37
25-29          101                  17.53
30-34           73                  12.67
35-39           41                   7.12
40+             13                   2.26

In [15]:
# GO BACK THROUGH ACTIVITIES 4.3 TO SEE ABOUT THE FORMATTING CHANGES USED TO MAKE THE CHART 
# IN THE HOMEWORK .IPYNB

# grab the age info binned from above
purchase_data_df['Age Ranges'] = pd.cut(purchase_data_df['Age'], age_bin, labels=group_names)

age_range_df = pd.cut(purchase_data_df['Age'], age_bin, labels=group_names)

# gather data as above with Gender Demographics except we are comparing the amounts spent vs the Age Ranges of the root data frame
age_range_totals = purchase_data_df.groupby(['Age Ranges']).count()['Price'].rename('Purchase Count')
age_avg_purchase = purchase_data_df.groupby(['Age Ranges']).mean()['Price'].rename('Average Purchase Price')
age_purchase_total = purchase_data_df.groupby(['Age Ranges']).sum()['Price'].rename('Total Purchase Value')

# isolate the Age Range & SN
SN_age_range_df = purchase_data_df[['Age Ranges', 'SN']]

#remove duplicates so we have per person data, not per transaction data --> (age_range_totals)
unique_SN_age_range_df = SN_age_range_df.drop_duplicates()

#obtain the counts to use in arithmatic
unique_SN_age_range = unique_SN_age_range_df['Age Ranges'].value_counts()

# execute arithmatic and solve for average purchase per unique user in age range
avg_purchase_per_age_range = age_purchase_total / unique_SN_age_range

age_analysis_df = pd.DataFrame({
    'Purchase Count': age_range_totals,
    'Average Purchase Price': age_avg_purchase,
    'Total Purchase Value': age_purchase_total,
    'Avg Total Purchase per Person': avg_purchase_per_age_range
})
age_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

In [16]:
# MARKDOWN - Top Spenders


# Gather information as above - we just need to compare data that is already present in main df
# so there's no real need to make a new df
# begin arithmatic
top_spender_total = purchase_data_df.groupby(['SN']).sum()['Price'].rename('Total Purchase Value')
top_spender_count = purchase_data_df.groupby(['SN']).count()['Price'].rename('Purchase Count')
top_spender_avg = purchase_data_df.groupby(['SN']).mean()['Price'].rename('Average Purchase Price')

#build df from functions
top_spender_df = pd.DataFrame({
    'Purchase Count': top_spender_count,
    'Average Purchase Price': top_spender_avg,
    'Total Purchase Value': top_spender_total
})

# sort by total spent (ascending = False) to see the highest to lowest spenders
# show the top 5 through the use of the .head() function

top_5_spender_df = top_spender_df.sort_values('Total Purchase Value', ascending = False).head(5)
top_5_spender_df

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [17]:
# MARKDOWN - Most Popular Items


# gather data needed for Item Comparisons - make into df
item_data = purchase_data_df.loc[:, ['Item ID', 'Item Name', 'Price']]
item_data

# begin arithmatic to find the money made via purchase of a particular item
item_purchase_total = item_data.groupby(['Item ID','Item Name']).sum()['Price'].rename('Total Purchase Value')

# average price of the item - it seems this game offers dynamic pricing --> note issues with that in analysis
item_avg_price = item_data.groupby(['Item ID','Item Name']).mean()['Price'].rename('Average Item Price')

# total count of items purchase per Item ID
item_count = item_data.groupby(['Item ID','Item Name']).count()['Price'].rename('Purchase Count')

# build the summary dataframe
item_data_df = pd.DataFrame({
    'Purchase Count': item_count,
    'Average Item Price': item_avg_price,
    'Total Purchase Value': item_purchase_total,    
})

# Limit to the top 5 for quick reference
top_5_item_data = item_data_df.sort_values('Purchase Count', ascending=False).head(5)
top_5_item_data

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

In [18]:
# now we just need the items with highest Purchase Value
# so we can use the already made table and sort via purchase count
# to display which are the most used by players.

item_data_df.sort_values('Total Purchase Value', ascending=False).head(5)

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80