In [1]:
# COMPARE TO THIS --- 9 _df's all day (see below)

# https://smu.bootcampcontent.com/SMU-Coding-Bootcamp/smu-dal-data-pt-09-2021-u-c/-/blob/master/02-Homework/04-Pandas/Instructions/HeroesOfPymoli/HeroesOfPymoli_starter.ipynb

In [2]:
#import dependencies
import pandas as pd
import os
os.getcwd()

# This link is for formatting tips for professional looking work

# https://gtribello.github.io/mathNET/assets/notebook-writing.html

# Consider the concept of building a final summary _df for the lazy - will include combining _df's -> save for future?
# If you clean all the formatting now you dont have to do it later.

# use .head() <-- DONT FORGET

'C:\\Users\\Alec\\Documents\\Programming Resources\\Boot Camp\\Pandas & Jupyter Notebook\\pandas-challenge'

In [3]:
# designate filepath as variable - use variable for easy recall
infile_01 = ('resources\\purchase_data.csv')
purchase_data_df = pd.read_csv(infile_01)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#obtain columns to list before really diving in as best practice 

root_column_list = purchase_data_df.columns.values.tolist()
root_column_list

['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']

In [5]:
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [6]:
# Test for Null Values
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [7]:
NaN_test_df = purchase_data_df.dropna(how='any')
NaN_test_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [10]:
# MARKDOWN - player count
#Total number of players

# isolate unique value of SN series, double check w/print, move to dict for database creation
SN_list = purchase_data_df['SN'].unique()
unique_player_count = len(SN_list)
print(unique_player_count)

unique_players = {
    'Total Players': [unique_player_count],
}

total_players_df = pd.DataFrame(unique_players)
total_players_df

576

   Total Players
0            576

In [22]:
# MARKDOWN - Purchasing Analysis (Total)
# Number of Unique Items
# Average Purchase Price
# Total Number of Purchases
# Total Revenue

### ------------------------Number of Unique Items------------------------

unique_itemID_list = purchase_data_df['Item ID'].unique()
unique_item_num = int(len(unique_itemID_list))
# test_list_len = len(purchase_analysis.get('Number of Unique Items'))
# Average purchase price

sum_prices = purchase_data_df['Price'].sum()

num_purchases = purchase_data_df['Purchase ID'].count()

avg_purchase_price = sum_prices / num_purchase

purchase_analysis = {
    'Number of Unique Items': [unique_item_num],
    'Average Price': [avg_purchase_price],
    'Number of Purchases': [num_purchases],
    'Total Revenue': [sum_prices],
}


purchase_analysis_df = pd.DataFrame(purchase_analysis)
purchase_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [19]:
root_column_list

['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']

In [9]:
# MARKDOWN - Gender Demographics
# % = round(variable/whole)*100
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other \ Non-Disclosed

In [10]:
# MARKDOWN - Purchasing Analysis (Gender)

# The below each broken by gender

# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Gender

# Find out which gender spends more? indication of behavior \ lack of patience \ desire for reward\gratification?

In [ ]:
# MARKDOWN - Age Demographics
# https://pandas.pydata.org/docs/reference/api/pandas.cut.html
#% = round(variable/whole)*100
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Age Group

In [6]:
# MARKDOWN - Purchasing Analysis (age)
# the availability to spend increases as time & money increase until after 25, where the time drops.
# 20-24 is the sweet spot of expendable income due to lack of time to farm but interest to play?
#this concept is not foreign - look into other game data to explore explanations

# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Age

In [ ]:
# MARKDOWN - Top Spenders

# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value

In [ ]:
# MARKDOWN - Most Popular Items
# This _df appears to be multi-indexed

# Identify the 5 most popular items by purchase count, then list (in a table):
# 
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value

In [ ]:
# MARKDOWN - Most Profitable Items
# not multi index, pivot is a keyword? renameing the index is key
# pd.cut & groupby

# Identify the 5 most profitable items by total purchase value, then list (in a table):
# 
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value